@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#__next {
  height: 100%;
}

:root {
  --background: #161515;
  --foreground: #e4f5f5;
  --primary-color: #ecdc98;
  --secondary-color: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161515;
    --foreground: #e4f5f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Popins', sans-serif;
  overflow-x: hidden;
}

.background-projects {
  position: absolute;
  background-image: url('/background.png');
  background-size: 200px 200px;
  background-repeat: repeat;
  animation: slide-bg 60s linear infinite;
  z-index: -1;
}

/* Animação opcional para o background */
@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200px 200px;
  }
}

.content-title::before {
  content: attr(data-text);
  position: absolute;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 8s linear infinite;
  filter: drop-shadow(0 0 20px var(--primary-color));
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes slide-bg {
  0% {
    background-position: 100% 0; /* Início à direita */
  }
  100% {
    background-position: 0 0; /* Fim à esquerda */
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}
